{{#partial "styles"}}
    <link rel="stylesheet" href="css/styles.css" type="text/css">
{{/partial}}
{{#partial "content"}}
    <div class="container" id="home-welcome">
        <h3>Hello. You are invited to look out for our beloved nature and it's animals.<br>
            Click here to view our animals<a class="btn btn-outline-success" type="button" id="non-endangered" href="/animals">Animals</a><br>
        </h3>
    </div>
{{/partial}}
{{> layout.hbs}}