{{#partial "styles"}}
    <link rel='stylesheet' href='/css/styles.css'>
{{/partial}}
{{#partial "form"}}
    <div class="container">
    <form action="/animal" method="post">
        <div class="form-group md-form">
<!--            <label for="name">Animal Name</label>-->
            <input placeholder="Animal Name" id="name" name="name" type="text" class="form-control">
        </div>
        <button type="submit" class="btn btn-dark-green">Add Animal</button>
    </form>
    </div>
{{/partial}}
{{> anima-form-layout.hbs}}